{%extends 'layout.html'%}



{%block body%}

<div class="jumbotron text-center">
    <h1>Upgrade</h1>
</div>


{% if ping_result == True %}
  <div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
   <p><strong><u>Testbed for {{rtr_mgmt_ip}} is reachable.</u></strong> and if you would like to upgrade 
      please select yes in the form and then click submit.
    </p>
  </div>
{% else %}
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>Testbed for {{rtr_mgmt_ip}} was not reachable. Please ensure your mgmt ip address is reachable.
     you can still copy the command above and directly paste in your router.</p>
  </div>
{% endif %}

{% if ping_result == True %}
  <form class="form-horizontal" action="{{ url_for('install_on_rtr') }}" method="POST">
      <legend>Upgrade router</legend>
      <hr>
      <div class="form-group">
        <div class="col-lg-10">
          <select class="form-control" id="select" name="install_on_rtr">
            <option value="None">No</option>
            <option value="Yes">Yes</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-0">
          <button  type="submit" class="btn btn-info">Submit</button>
        </div>
      </div>
  </form>
{% endif %}






{%endblock%}
