{%extends 'layout.html'%}



{%block body%}

<!--  SOURCE LOADING ANIMATION FILE -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/loading_animation.css') }}">

<div class="jumbotron text-center">
    <h1>Upgrade router with score</h1>
</div>

<form class="container" id="needs-validation" novalidate name="HwQueryForm" action="{{ url_for('packages') }}" method="POST">
  <div style="padding-left: 1.0em" class="row">
        
        <label  for="select" class="control-label">Image:</label><br>
	    <select id="Image" class="form-control" name="image" style="width: 82%" >
	        {% for item in cur_releases %}
	            <option value="{{item}}">{{item}}</option>
	        {% endfor %}
	    </select>
    </div>
    <br>
    <div style="padding-left: 1.0em" class="row">
    	<label style="" for="select" class="control-label">Platform:</label><br>
	    <select id="Platform" class="form-control" name="platform" style="width: 82%" >
	        <option value="asr9k-x64">asr9k-x64</option>
	        <option value="asr9k-px">asr9k-px</option>
	        <option value="ncs5500">ncs5500</option>
	    </select>
    </div>
    <br>

    
    <div class="row">
        <div class="col-md-10 mb-3">
          <label for="validationCustom03">TFTP Directory Path:</label>
          <input type="text" class="form-control" id="validationCustom01" placeholder="TFTP Path" name="tftp_dir" required>
          <div class="invalid-feedback">
            Please provide a valid TFTP Path.
          </div>
          <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
          <label for="validationCustom04">TFTP Server IP:</label>
          <input type="text" class="form-control" id="validationCustom02" placeholder="TFTP Server IP" name="tftp_server_ip" required>
          <div class="invalid-feedback">
            Please provide a valid TFTP Server IP.
          </div>
        </div>
    
    
        <div class="col-md-3 mb-3">
          <label for="validationCustom05">RTR Mgmt IP:</label>
          <input type="text" class="form-control" id="validationCustom03" placeholder="RTR Mgmt IP" name="rtr_mgmt_ip" required>
          <div class="invalid-feedback">
            Please provide a valid RTR Mgmt IP.
          </div>
          <br>
        </div>

        <div class="col-md-4 mb-3">
          <label for="validationCustom05">RTR Hostname:</label>
          <input type="text" class="form-control" id="validationCustom03" placeholder="RTR Mgmt Hostname" name="rtr_hostname" required>
          <div class="invalid-feedback">
            Please provide a valid RTR Mgmt IP.
          </div>
          <br>
        </div>
    </div>
    

     <div class="row">
        <div class="col-md-5 mb-3">
          <label for="validationCustom05">RTR Username:</label>
          <input type="text" class="form-control" id="validationCustom04" placeholder="Username" name="rtr_username" required>
          <div class="invalid-feedback">
            Please provide a valid Router Username.
          </div>
          <br>
        </div>

        <div class="col-md-5 mb-3">
          <label for="validationCustom05">RTR Password:</label>
          <input type="text" class="form-control" id="validationCustom05" placeholder="Password" name="rtr_password" required>
          <div class="invalid-feedback">
            Please provide a valid Router Username.
          </div>
          <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 mb-3">
          <label for="validationCustom05">IXIA Chassis IP:</label>
          <input type="text" class="form-control" id="validationCustom06" placeholder="Ixia Chassis IP" name="ixia_chassis_ip" required>
          <div class="invalid-feedback">
            Please provide a valid IXIA Chassis IP.
          </div>
          <br>
        </div>

        <div class="col-md-5 mb-3">
          <label for="validationCustom05">DB Collection name:</label>
          <input type="text" class="form-control" id="validationCustom07" placeholder="db collection name" name="db_collection" required>
          <div class="invalid-feedback">
            Please provide a valid DB collection name.
          </div>
          <br>
        </div>
    </div>

        <div class="row">
        <div class="col-md-5 mb-3">
          <label for="validationCustom05">PSAT/NEST Job file location:</label>
          <input type="text" class="form-control" id="validationCustom08" placeholder="job file path" name="psat_job_file" required>
          <div class="invalid-feedback">
            Please provide a path to your job file.
          </div>
          <br>
        </div>

        <div class="col-md-5 mb-3">
          <label for="validationCustom05">Unzip PSAT/NEST folder:</label>
          <input type="text" class="form-control" id="validationCustom09" placeholder="unzip folder location" name="psat_unzip_output_folder" required>
          <div class="invalid-feedback">
            Please provide a valid location to unzip psat/nest results.
          </div>
          <br>
        </div>
    </div>

    <button class="btn btn-info" type="submit">Next</button>
    
    <!-- CONTAINTER FOR LOADING OBJECTS  -->
    <div class="loader-container">
      <div class="loader">
        <div class="item item-1"></div>
        <div class="item item-2"></div>
        <div class="item item-3"></div>
        <div class="item item-4"></div>
      </div>
  </div>


</form>



<script type="text/javascript">

    $('#Image').select2({
    placeholder: 'Select an image'
    });

     $('#Platform').select2({
    placeholder: 'Select a platform'
    });    
</script>


<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';

  window.addEventListener('load', function() {
    var form = document.getElementById('needs-validation');
    form.addEventListener('submit', function(event) {
      if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);
  }, false);
})();
</script>

<script type="text/javascript">
  var myForm = document.getElementById('needs-validation');
myForm.addEventListener('submit', showLoader);
function showLoader(e) {
  this.querySelector('.loader-container').style.display = 'block';
  // the line below is just for the demo, it stops the form from submitting
  // so that you can see it works. Don't use it
  // e.preventDefault();
}
</script>

{%endblock%}
