{%extends 'layout.html'%}


{%block body%}




<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css">
<div class="jumbotron text-center">
    <h1>Testbed Reachability</h1>
</div>

<!--MAKE SURE USER SELECTED SUPPORTED UPGRADE FOR THEIR ROUTER OS TYPE-->
{% set os_mismatch = False %}
{% if os_type == 'eXR' and platform == 'asr9k-px' %}
  {% set os_mismatch = True %}

  <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><strong><u>Warning!</u></strong> router OS type is {{os_type}} and you have selected the following platform type {{platform}}. This is eXR to cXR image which is not supported</p>
  </div>

{% elif os_type == 'cXR' and platform == 'asr9k-x64' or platform == 'ncs5500' %}
  {% set os_mismatch = True %}

  <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><strong><u>Warning!</u></strong> router OS type is {{os_type}} and you have selected the following platform type {{platform}}. This is cXR to eXR image which is not supported</p>
  </div>

{% endif %}

<!--CHECKINNG CONNECTIVITY TO ROUTER AND IXIA IF APPLICABLE-->

{% if ping_result == True and ixia_connection == None and os_mismatch == False %}
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
   <p><u><strong>Success! </strong></u> Testbed <u><strong>{{rtr_mgmt_ip}} </strong></u>is reachable and telnet was successful. You may continue with upgrade to <strong><u>{{image}}</u></strong></p>
  </div>
  
  <form class="container" id="needs-validation" novalidate name="HwQueryForm" action="{{ url_for('copycmd') }}" method="POST">
      <button class="btn btn-info btn-lg" type="submit">Next</button>
  </form>

{% elif ping_result == True and ixia_connection == True and os_mismatch == False %}
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
   <p><u><strong>Success! </strong></u> Testbed <u><strong>{{rtr_mgmt_ip}} </strong></u>is reachable and telnet was successful. <strong><u>IXIA chassis {{ixia_chassis_ip}} </u></strong> was also successful. You may continue with upgrade to <strong><u>{{image}}</u></strong></p>
  </div>

  <form class="container" id="needs-validation" novalidate name="HwQueryForm" action="{{ url_for('copycmd') }}" method="POST">
      <button class="btn btn-info btn-lg" type="submit">Next</button>
  </form>

{% elif ping_result == False and ixia_connection == None %}

  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>Testbed for {{rtr_mgmt_ip}} was not reachable. Please ensure your mgmt ip address is reachable. And you can ping site server 123.100.104.212</p>
  </div>

{% elif ping_result == True and ixia_connection == False %}
  <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p>Testbed for {{rtr_mgmt_ip}} was reachable, however ixia {{ixia_chassis_ip}} was not reachable. Please ensure your ixia chassis address is reachable.</p>
    </div>

{% elif ping_result == False and ixia_connection == False %}
  <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p>Both Testbed {{rtr_mgmt_ip}} and ixia {{ixia_chassis_ip}} was not reachable. Please make sure your router and IXIA are reachabel to site server at 123.100.104.212</p>
  </div>

{% else %}
  <div class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p>Something is not right! ixia_connection is {{ixia_connection}} and ping_result is {{ping_result}}</p>
  </div>

{% endif %}


{% if ping_result == True %}

<div> 
  <br>
  <br>
  <br>
  <div class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p>Please ensure that your active and commited router packages are in sync before proceding  with an upgrade </p>
  </div>
  <br>
  <div style="width: 100%;">
     <div style="float:left; width: 30%">
        <h4>Active packages on router</h4>
        <hr>
           {% for line in install_active_output.split('\n') %}
                <small>{{line}}</small><br>
            {% endfor %}
     </div>
     <div style="float:right; width: 50%">
      <h4>Commited packages on router</h4>
        <hr>
           {% for line in install_commited_output.split('\n') %}
                <small>{{line}}</small><br>
            {% endfor %}
     </div>
  </div>
  </div>
  <div style="clear:both"></div>
{%endif%}



<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';

  window.addEventListener('load', function() {
    var form = document.getElementById('needs-validation');
    form.addEventListener('submit', function(event) {
      if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);
  }, false);
})();
</script>


{%endblock%}
