{%extends 'layout.html'%}

{%block body%}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css">
<div class="jumbotron text-center">
    <h1>Testbed Reachability</h1>
</div>

{% if ping_result == True %}
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
   <p><u><strong>Success! </strong></u> Testbed <u><strong>{{rtr_mgmt_ip}} </strong></u>is reachable and telnet was successful. You may continue with upgrade</p>
  </div>
  <form class="container" id="needs-validation" novalidate name="HwQueryForm" action="{{ url_for('copycmd') }}" method="POST">
      <button class="btn btn-info btn-lg" type="submit">Next</button>
  </form>
{% else %}
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>Testbed for {{rtr_mgmt_ip}} was not reachable. Please ensure your mgmt ip address is reachable.
     you can still copy the command above and directly paste in your router.</p>
  </div>
{% endif %}
   

{% if ping_result == True %}
<h4>Currently installed packages on router</h4>
<hr>
   {% for line in install_output.split('\n') %}
        <small>{{line}}</small><br>
    {% endfor %}

{%endif%}



<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';

  window.addEventListener('load', function() {
    var form = document.getElementById('needs-validation');
    form.addEventListener('submit', function(event) {
      if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);
  }, false);
})();
</script>


{%endblock%}
